doctype
html
	head
		link(rel="stylesheet/less", href="/less/index.less")
		script(src="/libs/less/dist/less.min.js")
	body.clearfix
		article.wrap
			article.logo
				img(src="/images/logo.png")
				span 前端之家
			nav.menu
				ul
					li: a(href="/") 技术分享
					//- li: a 资源分享
					li: a 团队介绍
			section.list
				each item in articles
					a.item(href="/article/#{item._id}")
						img(src='/upload/#{item.image}')
						h3 #{item.title}
						p #{item.author}